.carousel-container {
  padding-top: 20px;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
}

.carousel-image {
   width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.carousel-button:hover {
  background: rgba(255, 255, 255, 1);
}
.carousel-button:disabled {
  background: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}