.register-form {
  max-width: 600px;
  margin: 2em auto;
  padding: 2em;
  background-color: #4FE3C1; /* mint */
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(79, 227, 193, 0.4);
  font-family: "Nunito", sans-serif;
  color: #1E3A8A; /* deepBlue */
}

.register-form label {
  display: block;
  margin-bottom: 1em;
  color: #1E3A8A;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.register-form input {
  width: 100%;
  padding: 0.6em;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1.1em;
  margin-top: 0.3em;
  font-weight: bold;
  background-color: #f0faff; /* default beige */
  box-sizing: border-box;
  color: #1E3A8A; /* text */
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.register-form input:focus {
  outline: none;
  border: 2px solid #1E3A8A; /* deepBlue */
  box-shadow: 0 0 5px rgba(30, 58, 138, 0.5);
  background-color: #f0faff;
}

.register-form input.filled {
  background-color: #f0faff; /* default beige */
}
/* Autofill überlisten und mit eigenem Hintergrund füllen */
/* Chrome, Safari, Edge */
/* Chrome, Safari, Edge */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  background-color: #4FE3C1 !important; /* mint */
  -webkit-text-fill-color: #1E3A8A !important; /* Textfarbe */
  box-shadow: 0 0 0px 1000px #4FE3C1 inset !important; /* Hintergrundfarbe */
  transition: background-color 5000s ease-in-out 0s !important;
}

/* Firefox */
input:-moz-autofill {
  background-color: #4FE3C1 !important;
  -moz-text-fill-color: #1E3A8A !important;
}



.register-form input::placeholder {
  color: #1E3A8A;
  opacity: 0.6;
}

.register-button {
  padding: 0.8em 1.5em;
  background-color: #F8E8C3; /* cream */
  color: #1E3A8A;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 2em auto 0 auto;
}

.register-button:hover:not(.disabled) {
  background-color: #DE887B; /* coral */
}

.register-button.disabled {
  background-color: #CCCCCC !important;
  cursor: not-allowed;
}

.register-warning {
  color: #DE887B; /* coral */
  margin-top: 1em;
  font-weight: bold;
}

.logo-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animated-logo {
  width: 200px;
  opacity: 0.08;
  animation: spinDirection 10s infinite linear;
}

@keyframes spinDirection {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg) scaleX(-1);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
