body {
    font-family: "Nunito", sans-serif;
    color: #1E3A8A; /* deepBlue */
    margin: 0;
    padding: 0;
    background-color: #F8E8C3; /* beige */
    /* background-color: #4FE3C1;  mint  */
}